.about {
    @include section();

    background-color: $white;

    &__wrapper {
        display: flex;
        flex-direction: column-reverse;

        @media ($tablet) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__title {
        @include h2($primaryColor);
    }

    &__desc {
        @include p1($primaryColor);
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__image {
        @include image();
        height: 21rem;
        width: 100%;
        margin-bottom: 2rem;

        @media ($tablet) {
            margin-left: 5rem;
            flex-shrink: 0;
            max-width: 35rem;
            margin-bottom: 0;
        }

        @media ($desktop) {
            margin-left: 10rem;
            max-width: 46rem;
            margin-bottom: 0;
        }
    }
}
