.features {
    @include section();
    background-color: $lightGrey2;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include h2(_, center);
        font-weight: 400;
    }

    &__box {
        display: flex;
        flex-direction: column;

        @media ($tablet) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .feature {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }

            @media ($tablet) {
                flex-basis: calc(50% - 1rem);
                margin-bottom: 0;

                &:nth-child(n + 3) {
                    margin-top: 2rem;
                }
            }
        }
    }
}
