.reviews {
    @include section();
    background-color: $grey;

    &__title {
        @include h2($primaryColor, center);
    }

    &__items {
        display: flex;
        flex-direction: column;

        @media ($tablet) {
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .review {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }

            @media ($tablet) {
                flex-basis: calc(50% - 2rem);
                margin-bottom: 0;

                &:nth-child(n + 3) {
                    margin-top: 2rem;
                }
            }
        }
    }
}
