.screenschots {
    @include section();
    background-color: $white;

    &__title {
        @include h2(_, center);
    }

    &__box {
        display: flex;
        flex-direction: column;

        @media ($tablet) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .screenschot {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        @media ($tablet) {
            flex-basis: calc(50% - 1rem);
            margin-bottom: 0;

            &:nth-child(n + 3) {
                margin-top: 2rem;
            }
        }
    }
}
